<div class="content-horizontal">
  <div class="text">
    <p>

    <a href="http://forum-kunst-plauen.de/index.php/alabaster-becher-mitternachtsblau-_ab-16-02-2018"><h1>16.02.2018 - 03.03.2018 Galerie "Forum K" Plauen _Soloausstellung - mitternachtsblau </h1></a>
    <hr>
    <h1 >05.07.2018 - 31.08.2018 "Rösselstube" Dresden _Soloausstellung - mitternachtsblau #2 </h1>
    <hr>

    <a href="https://www.pochen.eu/"> <h1>03.10.2018 - 18.10.2018 "Pochen" Chemnitz _Gruppenausstellung - Gemeinschaftsarbeit "UNORTE" mit Johannes Plank </h1> </a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gAjYcdK48e0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>


    <a href="http://forum-kunst-plauen.de/"><h1 >30.11.2018 - 16.12.2018 "Forum K" Plauen _Gruppenausstellung - #5 JUNGE KUNST AUS PRINZIP </h1></a>
    <hr>


    </p>
  </div>
  <div class="spacer">
  </div>

    <div class="image">
      <div class="text">
      </div>
      <img style="opacity:0.8" width="100%" src="passfoto.jpeg"></img>
    </div>
</div>

<div class="content-vertical">
  <div class="mega-size-top">ASTLLNGN</div>
  <div></div>
  <div class="mega-size-bottom">EXH1BITI0N5</div>
</div>
