
<br />
<br />
<br />
<br />
  <div style="width: 90%; height:90%; margin:auto; text-align:center">
  <img src="aktuell.jpg" style="width:100%">
  </div>

<script type="text/javascript">
 var disable_effects = true;
</script>

